:root {
  --text-dark: #85dad7ff;
  --text-light: #fbf2f2;
  --text-muted: #595959;
  --text-form: #000;
  --button-colour: #4b5ba4;
  --background-color-form: #ffff;
  --background-color-label: navajowhite;
  --accent-colour: #fc0100;
  --accent-colour-2: #3bb54a;
  --tag-colour: #e5e5e5;

  --border: 3px solid #000;
}

html {
  /* Sets global font size on small devices */
  font-size: 12px;
}

a {
  color: #3bb54a;
}

p {
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  line-height: 150%;

  max-width: 50rem;
}
/* 
#background {
  border: 2px solid #000;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#background {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

@media (max-width: 750px) {
  body {
    background: url("./static/images/background.jpg") no-repeat;
    background-size: cover;
  }
}

/* When the screen width hits 960px, we increase the global font size to 14px. This changes
   the scale of all of our relative units (the rems), keeping everything in proportion */
@media screen and (min-width: 60em) {
  html {
    font-size: 14px;
  }
}

/* When the screen width hits 1200px, we once again increase the global font size, this time to 16px */
@media screen and (min-width: 75em) {
  html {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Sets the shared font characteristics, so that that they can be inherited globally */
  font-family: "Public Sans", sans-serif;
  color: var(--text-dark);
  line-height: 1.45rem;
  background-color: var(--background-color);
  margin: 0;
}

.main {
  flex-grow: 1;
  padding: 3rem 1.5rem 2rem 1.5rem;
  max-width: 54rem;
  width: 100%;
}
.main-section {
  width: 100%;
  display: flex;
}
.main-head {
  width: calc(100% - 340px);
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 30em) {
  .main {
    padding-top: 5rem;
  }
}

.header {
  position: relative;
}

footer {
  padding: 1rem 0;
  color: var(--text-muted);
  text-align: center;
  display: grid;
}

.footer__elements--author {
  color: var(--text-dark);
  opacity: 0%;
}

.footer__elements--author:hover {
  color: var(--text-dark);
  opacity: 100%;
  transition: 10s ease-in;
}

.footer__elements--column {
  color: var(--background-color);
}

.footer--link--author {
  text-decoration: none;
  color: var(--text-dark);
}

.footer--link--author:hover {
  color: var(--accent-colour-2);
  transition: 10s ease-in;
  cursor: text;
}

.footer__elements {
  max-width: 50rem;
}

.footer-bottom-logo img {
  width: 100%;
}

.footer__image {
  display: flex;
  align-items: center;
}

.footer__image img {
  width: 265px;
  height: auto;
}

.footer-logo {
  display: block;
}

.footer-logo {
  margin-left: 27px;
}

.made__footer {
  background-color: #0002;
  max-width: 54rem;
}

/* Utility class to use on links within text. */
.link {
  text-decoration: none;
  color: var(--background-color);
  white-space: nowrap;
}

.link:hover {
  text-decoration: underline;
}

.form__error {
  margin-top: 0.5rem;
}

.form__error,
.form__flash {
  display: block;
  padding: 0.5rem;
  color: var(--text);
}

.form__error,
.form__flash--danger {
  background: var(--accent-colour);
}

.form__flash {
  margin: 0.5rem;
}

.form__flash--success {
  background: var(--accent-colour-2);
}

.btn {
  display: inline;
  margin: 0.5rem auto 1rem auto;
  padding: 0.75rem 3rem;
  border: none;
  color: black;
  background: #e2e8f0;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btn:hover {
  background-color: #bdd1eb;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
